/* ############################################## */
/* #                    FONT                    # */
/* ############################################## */
@font-face {
    font-family: BerkshireSwash;
    src: url("./Font/BerkshireSwash-Regular.ttf");
}
@font-face {
    font-family: CourgetteRegular;
    src: url("./Font/Courgette-Regular.ttf");
}
@font-face {
    font-family: FondamentoRegular;
    src: url("./Font/Fondamento-Regular.ttf");
}
/* ############################################## */
/* #                   HTML                     # */
/* ############################################## */
html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    padding: 0px;
    background: linear-gradient(#F58A51, #441B04);
}
/* ############################################## */
/* #                 ANIMATION                  # */
/* ############################################## */
@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

/* ############################################## */
/* #                   HEADER                   # */
/* ############################################## */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    background-color: black;
    z-index: 1;
}

header nav > div {
    display: flex;
    align-items: center;
}
/* ############################################## */
/* #                    NAV                     # */
/* ############################################## */
#navigationBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 1%;
    box-shadow: 0 5px 15px white;
}
#LogoBar img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 60px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

nav > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 60px;
    padding: 0;
    margin: 0;
}

nav div:hover .menu{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

nav > div a {
    border: transparent 1px solid;
    border-radius: 5px;
    padding: 10px;
}

nav > div  a:hover {
    border: red 1px solid;
    background-color: rgba(255, 255, 255, 0.50);
}

.menu{
    top:95%;
    display: none;
    position: absolute;
    background: #000;
    min-width: 10%;
    box-shadow: 0px 0px 15px white;   
    z-index: 1;
}

nav:hover .menu{
    display: block;
}

div:hover > .menu a{
    display: block;
    padding: 12px 16px;
}

.submenu{
    top: 0;
    left:100%; 
    display: none;
    position: absolute;
    background: #000;
    min-width: 10%;
    box-shadow: 0px 0px 15px white;   
    z-index: 2;
    transition: opacity 10s;
    opacity: 0;
}

div:hover > .submenu{
    display: block;
    opacity: 1; 
}

/* ############################################## */
/* #                   IMAGES                   # */
/* ############################################## */
.logoBarMedia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logoBarMedia div img{
    height: 60px;
    padding: 10px;
}

.logoBarMedia div img:hover{
    border: gray 3px solid;
}
.container .ImageEtape img{
    padding: 20px;
    max-width: 600px;
    min-width: 700px;
}

.ImageMD{
    width: 50%;
    height: 50%;
}
.ImageMD:hover{
    width: 60%;
    height: 60%;
    animation: wiggle 2s linear infinite;
}
/* ############################################## */
/* #                   LIENS                    # */
/* ############################################## */
a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

/*
.submenu div a{
    color: black;
}*/

/*.submenu div a:hover{
    color: red;
}*/
/* ############################################## */
/* #                  ARTICLE                   # */
/* ############################################## */
.container{
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    width: 90%;
    align-items: center;
    box-shadow: 0 5px 15px white;
    border: transparent 10px solid;
}
.container:hover{
    border: white 10px solid;
    background-color: rgba(255, 255, 255, 0.50);
}
/* ############################################## */
/* #                   TITRE                    # */
/* ############################################## */
.TitrePrincipal {
    margin-top: 0;
    font-size: 500%;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 10%;
    font-family: BerkshireSwash, sans-serif;
    background-image: url("../CSS/Images/Kadatras.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.TitrePrincipal h2{
    font-size: 80%;
}

h2{
    font-size: 300%;
    font-family: FondamentoRegular;
}
.TextEtape h2{
    text-align: center;
    color: white;
}
.container:hover .TextEtape h2{
    color: black;
}
/* ############################################## */
/* #                   TEXTE                    # */
/* ############################################## */
p{
    font-family: CourgetteRegular;
    font-size: 20px;
    text-indent: 5px; margin: 30px 0;
    text-align: justify;
    padding: 20px;
    color: white;
}
#ModaliteEG p{
    color: black;
}
#Synopsis p{
    text-align: center;
    font-size: 25px;
    color: black;
}
.container:hover p{
    color: black;
}
/* ############################################## */
/* #                   MAIN                     # */
/* ############################################## */
main{
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Modalite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
}

#ModaliteEG p{
    font-size: 25px;
}

#ModaliteEG p:first-child{
    text-align: center;
    font-family: CourgetteRegular;
    font-style: oblique;
    font-size: 40px;
}
/* ############################################## */
/* #                 BUTTON                     # */
/* ############################################## */
.remonter {
    display: flex;
    bottom: 5%;
    position: fixed;
    margin-left: 19px;
    padding: 9px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.remonter:hover{
    background-color: white;
    color: black;
    cursor:pointer;
}
/* ############################################## */
/* #                  TABLEAU                   # */
/* ############################################## */
table
{
    position: relative;
    margin-top: 0;
    margin : 10% auto;
    width: 95%;
    border: 3px solid black;
    font-family: FondamentoRegular;
    font-size: 20px;
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: black;
}
table tr th
{
    border: 3px solid white;
}




/* ############################################## */
/* #                 FOOTER                     # */
/* ############################################## */

footer{
    background: black;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    min-height: 100px;
    width: 100%;
    box-shadow: 10px -5px 15px white;
    text-align: center;
    flex-direction: row;
    font-family: FondamentoRegular;
}

footer > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 30%;
    margin: 2% 0 2%;
}

h3{
    color:white;
    text-decoration: underline;
    margin: 0;
    font-size: 200%;
}

span{
    color: white;
    font-size: 150%;
    margin: 5%;
}